/* #box {
    height: 200px;
    width: 100px;
    background-color: dodgerblue;
    color: wheat;
    border: 1px solid black;

} */

.content {
    color: red;
}

.newClass {
    background-color: green;
}